$body-backgroud: #E5E5E5;

$desktop: "(max-width: 1440px)";
$table: "(max-width: 1024px)";
$tableSmall: ("max-width: 768px");
$mobileLarge: ("max-width: 480px");
$mobile: ("max-width: 420px");

//colors
$main-text-color: #626773;
$btn-bg-color: #4C82FF;
$btn-color: #fff;
$btn-info-color: #467BF6;
$btn-bg-info: #F8F9FC;
$checkbox-color: #467BF6;
$link-color: #9098AD;
$label-color: #9098AD;
